@model IEnumerable<BancoDeQuestoes.Dominio.Questao>

@{
    ViewBag.Title = "Listar";
}

<div class="page-header">
    <h2>Questões</h2>
</div>

<head>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap1.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap.css">

    <title></title>
</head>
<script src="~/Scripts/jasny-bootstrap.js"></script>
<script type="text/javascript">

    var dataSet = [];

    $(document).ready(function () {
        listarQuestoes();

        $("#btnInserir").on("click", function () {
            window.location.href = "/Questao/InserirOuEditar";
        });

        $("#btnRemoverSelecionadas").on("click", function () {
            removerQuestoesSelecionadas();
        });
    });

   var usuarioAtual = "@(((BancoDeQuestoes.Dominio.Usuario)Session["user"]).Nome)";

    function listarQuestoes() {
        var checkRemover, dataCriacao, enunciado, autor, btnEditar;

        request = $.ajax({
            type: "POST",
            url: "/Questao/ListarQuestoes",
            success: function (response) {

                $.each(response, function (response, item) {

                    dataCriacao = item.DataCriacao;
                    enunciado = "<a href='/Questao/?id=" + item.Codigo + "'>" + item.Enunciado + "</a>"
                    autor = item.Autor.Nome;

                    if (autor == usuarioAtual)
                    {
                        checkRemover = "<input type='checkbox' name='btnRemover' id='remover_" + item.Codigo + "' onClick='alterarEstadoBotaoRemover()'/>";
                        btnEditar = "<a title=Editar href='/Questao/InserirOuEditar/?id=" + item.Codigo + "'><i class='glyphicon glyphicon-cog'></i></a>";
                    }
                    else {
                        btnEditar = "<button title=Editar class='btn btn-link' disabled='disabled' href='/Questao/InserirOuEditar/?id=" + item.Codigo + "'><i class='glyphicon glyphicon-cog'></i></button>";
                        checkRemover = "<input type='checkbox' disabled='disabled' name='btnRemover' id='remover_" + item.Codigo + "' onClick='alterarEstadoBotaoRemover()'/>";
                    }
                    dataSet.push([checkRemover, dataCriacao, enunciado, autor, btnEditar]);

                });

                $('#cssTable').dataTable({
                    "data": dataSet,
                    "columns": [
                        { "title": "", "class": "rowlink-skip" },
                        { "title": "Data" },
                        { "title": "Enunciado" },
                        { "title": "Autor", "class": "center" },
                        { "title": "Ações", "class": "rowlink-skip" },

                    ]
                });

            }, error: function (response) {
                alert("DEU ERRO!");
            }
        });
    }


    function alterarEstadoBotaoRemover() {
        var temElementoChecado = false;
        $('#cssTable').find('input[type="checkbox"]:checked').each(function () {
            temElementoChecado = true;
        });

        $("#btnRemoverSelecionadas").prop("disabled", !temElementoChecado);
    }

    function removerQuestoesSelecionadas(){
        if (confirm("Deseja remover essas questões?") == true) {

            var questoesParaRemover = "";
            var idQuestao = "";
            // Percorre todos os elementos da tabela que supram a condição (ser checkbox e estado checked=true)
            $('#cssTable').find('input[type="checkbox"]:checked').each(function () {
                var elemento = $(this);
                idQuestao = elemento.attr('id').split('_')[1] + ';';
                questoesParaRemover += idQuestao;
            });


            if (questoesParaRemover != "") {
                request = $.ajax({
                    type: "POST",
                    url: "/Questao/RemoverQuestoes",
                    data: "ids=" + questoesParaRemover,
                    success: function (response) {
                        if (response == "") {
                            alert("Questões removidas com sucesso!");
                            questoesParaRemover = ""
                            location.reload();
                            document.getElementById("btnRemoverSelecionadas").disabled = true;
                        } else {
                            alert(response);
                        }
                    }, error: function (response) {
                        alert("DEU ERRO!");
                    }
                });
            } else {
                alert("Não há questões para remover!!");
            }
        }
    }


</script>

<div id="botoes">
    <button title="Adicionar" id="btnInserir" type="button" class="btn btn-primary"><span class='glyphicon glyphicon-plus'></span></button>
    <button title="Remover" id="btnRemoverSelecionadas" type="button" disabled="disabled" class="btn btn-primary"><i class='glyphicon glyphicon-trash'></i></button>
</div>
<br>
<table id="cssTable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="3" border="0">
    <thead>
        <tr>
            <th></th>
            <th>Data</th>
            <th>
                @Html.DisplayNameFor(model => model.Enunciado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor) 
            </th>
            <th>Ações</th>
        </tr>
</thead>
    <tbody data-link="row" class="rowlink" ></tbody>
</table>
